services:
  coffeeline_db:
    image: postgres:latest
    container_name: database
    environment:
      POSTGRES_DB: coffee_line_db
      POSTGRES_PASSWORD: postgres
      POSTGRES_USER: postgres
    ports:
      - '5432:5432'
    volumes:
      - postgres-data:/var/lib/postgresql/data
      - ./init.sql:/docker-entrypoint-initdb.d/init.sql
    restart: always

volumes:
  postgres-data: